body {
    font-family: 'Roboto', sans-serif;
    color: #333;
    background-color: #f7f7f7;
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 2em;
}

.header img {
    order: -1;
}

.header .logo {
    margin-bottom: 10px;
}

.buttons {
    margin-top: 2em;
}

h1, h2, h3, h4, h5, h6 {
    color: #333;
}

a {
    color: #0099e5;
}

button {
    background-color: #0099e5;
    border: none;
    border-radius: 12px;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}

button:hover {
    background-color: #0073ad;
    color: white;
}

.logo {
    width: 100px;
    height: auto;
}

#session_table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 2em;
}

#session_table td, #session_table th {
    border: 1px solid #ddd;
    padding: 8px;
}

#session_table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #0099e5;
    color: white;
}
