body {
    font-family: 'Roboto', sans-serif;
    color: #333;
    background: #2596be;
    line-height: 1.6;
    padding-top: 2em;
    font-family: 'Poppins ExtraLight', sans-serif;

}

/*.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow-x: auto;
}*/

.container {
    max-width: 100%;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow-x: auto;
}


/*.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0;
    z-index: 1;
    margin-top: 2em;
    background-color: white;
    padding: 20px 0;
}*/

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1;
    margin-top: 2em;
    background-color: #fff; 
    padding: 20px 0; 
    width: 100%;
}



.header img {
    order: -1;
}

.header .logo {
    margin-bottom: 10px;
}

.buttons {
    font-family: 'Poppins ExtraLight', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 2em;
    width: 100%;
}


h1, h2, h3, h4, h5, h6 {
    color: #333;
}

a {
    color: #0099e5;
}

button {
    white-space: normal;
    text-align: center;
    background-color: #0073ad;
    border: none;
    border-radius: 12px;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    font-weight: bold;
    font-family: 'Poppins ExtraLight', sans-serif;

}

button:hover {
    background-color: #0073ad;
    color: white;
}

.logo {
    width: 100px;
    height: auto;
}

#session_table {
    border-collapse: collapse;
    width: 1100px;
    max-width: 1500px;
    margin: 0 auto;
    margin-top: 2em;
}

#session_table td, #session_table th {
    border: 1px solid #ddd;
    padding: 8px;
    color: white;
    text-align: center;
}

#session_table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #0073ad;
    color: white;
    position: sticky;
    top: 0;
    z-index: 2;
}


@font-face {
    font-family: 'Poppins ExtraLight';
    src: url('fonts/Poppins-ExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}
