<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  </head>
  <body>
  <div class="header">
    <img src="{{ url_for('static', filename='images/5gmag.png') }}" alt="5GMAG Logo" class="logo">
    <h1>M1 Client Tool</h1>
  </div>
  
  <h2>RT Application Function</h2>
  <button onclick="createNewSession()">Create new provisioning session</button>
  <button onclick="listAllSessions()">Show active provisioning session(s)</button>
  <p id="active_sessions">Total provisioning sessions: {{ active_sessions }}</p>
  <p id="session_list"></p>
  
  <script>
  
  async function createNewSession() {
    const response = await fetch('/new_provisioning_session', { method: 'POST' });
    const data = await response.json();
    alert(data.message);
    document.getElementById('active_sessions').textContent = 'Total provisioning sessions: ' + await getSessionCount();
  }

  async function listAllSessions() {
    const response = await fetch('/get_provisioning_sessions');
    const data = await response.json();
    document.getElementById('session_list').innerHTML = data.provisioning_sessions.join('<br>');
  }
    
  async function getSessionCount() {
    const response = await fetch('/get_sessions_count');
    const data = await response.json();
    return data.count;
  }
  
  </script>
  
  </body>
</html>
