<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/static/style.css">
    <link href="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.22/dist/sweetalert2.min.css" rel="stylesheet">
    <script src="/static/m1-user-interface.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.22/dist/sweetalert2.all.min.js"></script>
  </head>
  
  <body>

  <div class="header">
    <img src="/static/images/5gmag.png" alt="5GMAG Logo" class="logo">
    <h1>5G Media Streaming<h2>M1 management tool</h2></h1>
  </div>

  <div class="container">
  <div class="buttons">
    <button onclick="createNewSession()">Create Provisioning Session</button><br>
    <button onclick="createNewSessionWithCHCMultiple()">
      Create Provisioning Session with<br>
      Content Hosting Configuration<br>
      containing multiple entry points
    </button>
  </div>

  <table id="session_table">
    <thead>
      <tr>
        <th>Provisioning Session ID</th>
        <th>Remove Provisioning Session</th>
        <th>Content Hosting Configuration from JSON</th>
        <th>Check the Session details</th>
        <th>Create Server Certificate</th>
        <th>Show Certificate Details</th>
        <th>Show Content Protocols</th>
        <th>Create Content Hosting Configuration without Certificate</th>
        <th>Consumption Reporting</th>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
  </div>

  <button id="infoBtn">i</button>
  <div id="infoModal" class="modal">
    <div class="modal-content">
      <span class="close">&times;</span>
      <p>Licence and authorization are aligned with 5GMAG's, Technical University of Berlin's, and British Broadcast Company's (BBC) norms.
        For the full license terms, please see the LICENSE file distributed along with 5GMS Reference Tools or retrieve it <a href="https://drive.google.com/file/d/1cinCiA778IErENZ3JN52VFW-1ffHpx7Z/view">here</a>.
      </p>
      <div class="icon-container">
        <img src="../static/images/tub.png" alt="TUB">
        <img src="../static/images/bbc.png" alt="BBC">
        <img src="../static/images/fokus.png" alt="FOKUS">
      </div>
    </div>
  </div>
  <script>
    var modal = document.getElementById('infoModal');
    var btn = document.getElementById('infoBtn');
    var span = document.getElementsByClassName("close")[0];

    // open
    btn.onclick = function() {
      modal.style.display = "block";
      modal.classList.remove("modal-hiding");
    }

    // close
    span.onclick = function() {
      modal.classList.add('modal-hiding');
      setTimeout(function() {
        modal.style.display = "none";
      }, 400);
    }

    // closing modal when clicking outside of it
    window.onclick = function(event) {
      if (event.target === modal) {
        modal.classList.add('modal-hiding');
        setTimeout(function() {
          modal.style.display = "none";
        }, 400);
      }
    }
  </script>

  </body>
</html>